.content-container {
    margin: 0 auto;
    padding: 0 1.6rem;
    max-width: 80rem;
}
.content-container__view{
    margin: 1.6rem 0 1.6rem 0;
}
.content-container__view-chapter{

    margin-top: 1rem !important;
}
.content-container__search {
    margin-top: 10%;
    text-align: center;
}